<%- include("components/header.ejs") %>

  <!-- TITLE OF THE PAGE -->
  <title>Social Chef - Home </title>

  <!-- FONT USED FOR THE PAGE (RETRIVED FROM GOOGLE FONTS) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@200&family=Red+Hat+Text&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/20718ccc33.js" crossorigin="anonymous" defer></script>
  <!-- CSS UTILIZED BY THIS PAGE -->
  <link rel="stylesheet" href="/css/general.css" type="text/css" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" />
  </head>

  <body>

    <div class="trim"></div>

    <nav>
      <section class="nav-header">
        <h1>Welcome <br> <%= firstN[0].firstName %>!</h1>
      </section>

      <section class="nav-body">
        <div class="body-row active"> <i class="fa-sharp fa-solid fa-house"></i><a href="">Home</a> </div>
        <div class="body-row"><i class="fa-solid fa-bookmark"></i><a href="/saved">Saved</a></div>
        <div class="body-row"><i class="fa-solid fa-folder-plus"></i><a href="/newRecipe">Add Recipe</a></div>
        <div class="body-row"><i class="fa-solid fa-gear"></i><a href="/settings">Info</a></div>
        <div class="body-row"><i class="fa-solid "></i><a href="/poke">Poke</a></div>
      </section>

      <section class="nav-footer">
        <div class="body-row"><i class="fa-solid fa-right-from-bracket"></i><a href="/logout">Logout</a></div>
      </section>

    </nav>


    <main>
      <section class="rec-of-day">
        <h1>Recipe of The Day</h1>

        <div class="slip">
          <div class="slip-img">
            <img src="<%= daily.hits[0].recipe.image %>" alt="" srcset="">
          </div>
          <div class="slip-body">
            <p>Name : <%= daily.hits[0].recipe.label %>
            </p>
            <p>Calories : <%= parseFloat(daily.hits[0].recipe.calories).toFixed(2) %>
            </p>
            <p>Servings : <%= daily.hits[0].recipe.yield %>
            </p>
            <p>Time : <%= daily.hits[0].recipe.mealType[0] %>
            </p>
            <p>Cuisine : <%= daily.hits[0].recipe.cuisineType[0] %>
            </p>
          </div>
          <div class="slip-util">
           <a href="<%= daily.hits[0].recipe.url %>" target="_blank"><button class="info-button">Info</button></a> 
            <button class="save-button" onclick="saveRecipeToAccount(this.id, `<%= daily.hits[0].recipe.label %>`, `<%= parseFloat(daily.hits[0].recipe.calories).toFixed(2) %>`, `<%= daily.hits[0].recipe.yield %>`,
              `<%= daily.hits[0].recipe.mealType[0] %>`, `<%= daily.hits[0].recipe.cuisineType[0] %>`, `<%= daily.hits[0].recipe.image %>`,`<%= daily.hits[0].recipe.url %>`)">Save</button>
          </div>
        </div>
        
      </section>

      <section class="input-container">
        <h1>Search For a Recipe</h1>
        <form action="/homeSearch" method="get">
          <div class="input-row ">
            <label for="">Keyword</label>
            <input class="key-text" type="text" name="keyword" placeholder="ex: Chicken" required>
          </div>
          <div class="input-row ">
            <label for="">Cuisine</label>
            <select class="cuisine-input" name="cuisine" id="cars" required>
              <% for (let i=0; i < cuisines.length; i++) { %>
                <option value="<%=cuisines[i].country%>">
                  <%=cuisines[i].country %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="input-row">
            <label for="">Breakfast</label>
            <input id="meal-time" value="breakfast" type="radio" name="time">
          </div>
          <div class="input-row">
            <label for="">Lunch</label>
            <input id="meal-time" value="lunch" type="radio" name="time">
          </div>
          <div class="input-row">
            <label for="">Dinner</label>
            <input id="meal-time" value="dinner" type="radio" name="time">
          </div>
          <button>Search</button>
        </form>
      </section>

      <% if(typeof(recipes) !="undefined" ) { %>
          <% for (i = 0; i < recipes.hits.length; i++)  { %>
            <div class="slip">
              <div class="slip-img">
                <img src="<%= recipes.hits[i].recipe.image %>" alt="" srcset="">
              </div>
              <div class="slip-body">
                <p>Name : <%= recipes.hits[i].recipe.label %>
                </p>
                <p>Calories : <%= parseFloat(recipes.hits[i].recipe.calories).toFixed(2) %>
                </p>
                <p>Servings : <%= recipes.hits[i].recipe.yield %>
                </p>
                <p>Time : <%= recipes.hits[i].recipe.mealType[0] %>
                </p>
                <p>Cuisine : <%= recipes.hits[i].recipe.cuisineType[0] %>
                </p>
              </div>
              <div class="slip-util">
               <a href="<%= recipes.hits[i].recipe.url %>" target="_blank"><button class="info-button">Info</button></a> 
                <button  id="<%=i%>" class="save-button"  onclick="saveRecipeToAccount(this.id, `<%= recipes.hits[i].recipe.label %>`, `<%= parseFloat(recipes.hits[i].recipe.calories).toFixed(2) %>`, `<%= recipes.hits[i].recipe.yield %>`,
                  `<%= recipes.hits[i].recipe.mealType[0] %>`, `<%= recipes.hits[i].recipe.cuisineType[0] %>`, `<%= recipes.hits[i].recipe.image %>`,`<%= recipes.hits[i].recipe.url %>`)">Save</button>
              </div>
            </div>
        <% } %>
      <% } %>

      <div id="form-box">

      </div>

      <script src="/js/saveRecipe.js"></script>

    </main>
  </body>

  </html>
