<%- include("components/header.ejs") %>

  <!-- TITLE OF THE PAGE -->
  <title>Social Chef - Settings </title>

  <!-- FONT USED FOR THE PAGE (RETRIVED FROM GOOGLE FONTS) -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/20718ccc33.js" crossorigin="anonymous" defer></script>

  <!-- CSS UTILIZED BY THIS PAGE -->
  <link rel="stylesheet" href="/css/general.css" type="text/css" />
  <link rel="stylesheet" href="/css/setting.css" type="text/css" />

  <body>
    <div class="trim"></div>
    <nav>
      <section class="nav-header">
        <h1>Welcome <br>
          <%= firstN[0].firstName %>!
        </h1>
      </section>

      <section class="nav-body">
        <div class="body-row "> <i class="fa-sharp fa-solid fa-house"></i><a href="/home">Home</a> </div>
        <div class="body-row"><i class="fa-solid fa-bookmark"></i><a href="/saved">Saved</a></div>
        <div class="body-row"><i class="fa-solid fa-folder-plus"></i><a href="/newRecipe">Add Recipe</a></div>
        <div class="body-row active"><i class="fa-solid fa-gear"></i><a href="">Info</a></div>
        <div class="body-row"><i class="fa-solid "></i><a href="/poke">Poke</a></div>
      </section>

      <section class="nav-footer">
        <div class="body-row"><i class="fa-solid fa-right-from-bracket"></i><a href="/logout">Logout</a></div>
      </section>

    </nav>

    <main class="flex">
      <section class="input-container">
        <h1>Update the User Information</h1>
        <form method="POST" action="/settings">
          <div class="input-row" id="first">
            <label for="">User Name</label>
            <input class="key-text" type="text" name="username" value="<%= data.username %> ">
          </div>
          <div class="input-row">
            <label for="">First Name</label>
            <input class="key-text" type="text" name="firstName" value="<%= data.firstName %> ">
          </div>
          <div class="input-row">
            <label for="">Last Name</label>
            <input class="key-text" type="text" name="lastName" value="<%= data.lastName %> ">
          </div>
          <div class="input-row bottom-row">
            <label for="">Country</label>
            <input type="text" name="country" value="<%= data.country %> ">
          </div>
          <button> Update </button>
        </form>
      </section>

      <section class="input-container update-pass">
        <h1>Update the Password</h1>
        <form method="POST" action="/password">
          <div class="input-row" id="first">
            <label for="">Old Password</label>
            <input class="key-text" type="password" name="old_password">
          </div>
          <div class="input-row bottom-row">
            <label for="">New Password</label>
            <input class="key-text" type="password" name="new_password">
          </div>
          <button> Update </button>
        </form>
      </section>
    </main>
  </body>

  </html>
